# More on Intentions and Column Expressions

In [1]:
import pandas as pd
from dfply import *
import matplotlib.pylab as plt
%matplotlib inline

In [2]:
artist_url = "https://github.com/MuseumofModernArt/collection/raw/master/Artists.csv"
artists =  pd.read_csv(artist_url)
artists.head()

,ConstituentID,DisplayName,ArtistBio,Nationality,Gender,BeginDate,EndDate,Wiki QID,ULAN
0,1,Robert Arneson,"American, 1930–1992",American,Male,1930,1992,NaN,NaN
1,2,Doroteo Arnaiz,"Spanish, born 1936",Spanish,Male,1936,0,NaN,NaN
2,3,Bill Arnold,"American, born 1941",American,Male,1941,0,NaN,NaN
3,4,Charles Arnoldi,"American, born 1946",American,Male,1946,0,Q1063584,500027998.0
4,5,Per Arnoldi,"Danish, born 1941",Danish,Male,1941,0,NaN,NaN

In [3]:
artwork_url = "https://github.com/MuseumofModernArt/collection/raw/master/Artworks.csv"
artwork = pd.read_csv(artwork_url) # Big file, be patient
artwork.head()

,Title,Artist,ConstituentID,ArtistBio,Nationality,BeginDate,EndDate,Gender,Date,Medium,...,ThumbnailURL,Circumference (cm),Depth (cm),Diameter (cm),Height (cm),Length (cm),Weight (kg),Width (cm),Seat Height (cm),Duration (sec.)
0,"Ferdinandsbrücke Project, Vienna, Austria (Ele...",Otto Wagner,6210,"(Austrian, 1841–1918)",(Austrian),(1841),(1918),(Male),1896,Ink and cut-and-pasted painted pages on paper,...,http://www.moma.org/media/W1siZiIsIjU5NDA1Il0s...,NaN,NaN,NaN,48.6000,NaN,NaN,168.9000,NaN,NaN
1,"City of Music, National Superior Conservatory ...",Christian de Portzamparc,7470,"(French, born 1944)",(French),(1944),(0),(Male),1987,Paint and colored pencil on print,...,http://www.moma.org/media/W1siZiIsIjk3Il0sWyJw...,NaN,NaN,NaN,40.6401,NaN,NaN,29.8451,NaN,NaN
2,"Villa near Vienna Project, Outside Vienna, Aus...",Emil Hoppe,7605,"(Austrian, 1876–1957)",(Austrian),(1876),(1957),(Male),1903,"Graphite, pen, color pencil, ink, and gouache ...",...,http://www.moma.org/media/W1siZiIsIjk4Il0sWyJw...,NaN,NaN,NaN,34.3000,NaN,NaN,31.8000,NaN,NaN
3,"The Manhattan Transcripts Project, New York, N...",Bernard Tschumi,7056,"(French and Swiss, born Switzerland 1944)",(),(1944),(0),(Male),1980,Photographic reproduction with colored synthet...,...,http://www.moma.org/media/W1siZiIsIjEyNCJdLFsi...,NaN,NaN,NaN,50.8000,NaN,NaN,50.8000,NaN,NaN
4,"Villa, project, outside Vienna, Austria, Exter...",Emil Hoppe,7605,"(Austrian, 1876–1957)",(Austrian),(1876),(1957),(Male),1903,"Graphite, color pencil, ink, and gouache on tr...",...,http://www.moma.org/media/W1siZiIsIjEyNiJdLFsi...,NaN,NaN,NaN,38.4000,NaN,NaN,19.1000,NaN,NaN

## `X` is an `Intention`

<img src="img/dfply_X_intention_1.png" width = 800>

Think of it as recording an expression for later evaluation

In [4]:
expr = X.BeginDate.head()
expr

## Use `evaluate` to apply the expression

We can apply an expression *later* using `evaluate` with a dataframe.

In [5]:
expr.evaluate(artists)

0    1930
1    1936
2    1941
3    1946
4    1941
Name: BeginDate, dtype: int64

## Intention expressions are reusable!

In [6]:
# Reusable!
expr.evaluate(artwork)

0    (1841)
1    (1944)
2    (1876)
3    (1944)
4    (1876)
Name: BeginDate, dtype: object

## <font color="red"> Exercise 2.3.1 </font>
    
**Tasks:**

1. Create and evaluate a column expression, saved as `my_expr`, that checks that the `Height` column is larger than 40. **Hint:** The space and `()` in the column name requires you to use `X['col name']` format.
2. Evaluate that column expression to the `Artist` and `Artwork` data frame, that is evaluate `my_expr.evaluate(df)`.
3. Use the expression object in filter, e.g. `filter(my_expr)` on the `Artwork` data set 
4. Now try to perform the filter with a pipe and no expression, e.g. `filter_by(artwork['Height cm' > 40)`.  Why does this still work?  When might we run into trouble?
5. Write a paragraph that summarizes how this all works.

In [7]:
# Code for Task 1
my_expr = X['Height (cm)'] > 40
my_expr

In [8]:
# Code for Task 2
my_expr.evaluate(artwork).head()

0     True
1     True
2    False
3     True
4    False
Name: Height (cm), dtype: bool

In [9]:
# Code for Task 3
filter(my_expr)

TypeError: filter expected 2 arguments, got 1

In [10]:
# Code for Task 4
(artwork >> 
    filter_by(X['Height (cm)'] > 40)
)

,Title,Artist,ConstituentID,ArtistBio,Nationality,BeginDate,EndDate,Gender,Date,Medium,...,ThumbnailURL,Circumference (cm),Depth (cm),Diameter (cm),Height (cm),Length (cm),Weight (kg),Width (cm),Seat Height (cm),Duration (sec.)
0,"Ferdinandsbrücke Project, Vienna, Austria (Ele...",Otto Wagner,6210,"(Austrian, 1841–1918)",(Austrian),(1841),(1918),(Male),1896,Ink and cut-and-pasted painted pages on paper,...,http://www.moma.org/media/W1siZiIsIjU5NDA1Il0s...,NaN,NaN,NaN,48.600000,NaN,NaN,168.900000,NaN,NaN
1,"City of Music, National Superior Conservatory ...",Christian de Portzamparc,7470,"(French, born 1944)",(French),(1944),(0),(Male),1987,Paint and colored pencil on print,...,http://www.moma.org/media/W1siZiIsIjk3Il0sWyJw...,NaN,NaN,NaN,40.640100,NaN,NaN,29.845100,NaN,NaN
3,"The Manhattan Transcripts Project, New York, N...",Bernard Tschumi,7056,"(French and Swiss, born Switzerland 1944)",(),(1944),(0),(Male),1980,Photographic reproduction with colored synthet...,...,http://www.moma.org/media/W1siZiIsIjEyNCJdLFsi...,NaN,NaN,NaN,50.800000,NaN,NaN,50.800000,NaN,NaN
30,"Memorial to the Six Million Jewish Martyrs, pr...",Louis I. Kahn,2964,"(American, born Estonia. 1901–1974)",(American),(1901),(1974),(Male),1968,Charcoal and graphite on tracing paper,...,http://www.moma.org/media/W1siZiIsIjE3MyJdLFsi...,NaN,NaN,NaN,113.000000,NaN,NaN,167.600000,NaN,NaN
31,"The Manhattan Transcripts Project, New York, N...",Bernard Tschumi,7056,"(French and Swiss, born Switzerland 1944)",(),(1944),(0),(Male),1980,Photographic reproduction with colored synthet...,...,http://www.moma.org/media/W1siZiIsIjIwMCJdLFsi...,NaN,NaN,NaN,50.800000,NaN,NaN,50.800000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138104,Vertigo #2,Ouattara Watts,132954,"(American, born Ivory Coast, 1957)",(American),(1957),(0),(),2011,"Acrylic, paper pulp, cut and pasted fabrics, a...",...,NaN,NaN,9.525019,NaN,300.355601,NaN,NaN,420.370841,NaN,NaN
138105,Lot 111113 (flare 1),Donald Moffett,7435,"(American, born 1955)",(American),(1955),(0),(Male),2013,Acrylic and lacquer on linen with cotton and a...,...,NaN,NaN,0.000000,NaN,137.160274,NaN,NaN,111.760224,NaN,NaN
138106,Unknown Pleasures,Matthew Wong,132956,"(Canadian, 1984 - 2019)",(),(0),(0),(),2019,Oil on canvas,...,NaN,NaN,0.000000,NaN,165.100330,NaN,NaN,165.100330,NaN,NaN
138107,Mike and Sky,Catherine Opie,8190,"(American, born 1961)",(American),(1961),(0),(Female),1993,Chromogenic color print\r\n,...,NaN,NaN,0.000000,NaN,48.600000,NaN,NaN,37.782576,NaN,NaN
138118,May's Blue Eye,Farah Al Qasimi,131770,"(Emirati, born 1991)",(Emirati),(1991),(0),(Female),2020,Pigmented inkjet print,...,NaN,NaN,0.000000,NaN,63.500127,NaN,NaN,45.720091,NaN,NaN

In [11]:
(artwork >> 
 select(X['Height (cm)']) >>
 filter_by(X['Height (cm)'] > 40) >>
 head()
)

    Height (cm)
0       48.6000
1       40.6401
3       50.8000
30     113.0000
31      50.8000

> The questions from 1 to 4 essentially reflects what the Intention class is doing with the X in X['column name']. The Intention class allows the delay of the evaluation. Above, my_expr store the expression that filters all the height that is greater than 40. It then uses the evaluate function to show the output from the artwork dataframe. In Question 4, filter_by(artwork['Height (cm)'] > 40) still works because the df artwork has this column. It may not work if this function is needed in another df.

## Not just for data frames ... works for any* expression

In [12]:
double, line = 2*X, 3*X + 5

In [13]:
double.evaluate(3), line.evaluate(6)

(6, 23)

## We can make functions lazy too!

Decorate a function with `make_symbolic` to allow lazy evaluation of `Intention` objects

In [14]:
from math import log
log = make_symbolic(log)

In [15]:
log(8, 2) # Works as expected with numbers

3.0

## Passing in `X` now makes a `log` expression

In [16]:
expr = log(X, 2) # Passing in X makes it lazy/symbolic
expr

In [17]:
expr.evaluate(16) # Evaluate later

4.0